//---------------vars
$blue: #33c1e3;
$white: #f6f6f6;
$green: #9f3;

//---------------layout
@import "_misc/adjustment.scss";
@import "fonts.scss";

//---------------styles

@import "content/header.scss";
@import "content/wraper.scss";
@import "content/footer.scss";
@import "content/media";


