.section1 {
  width: $container-width;
  height: 464px;
  margin: 0 auto;
}

.section1__header {
  max-height: 115px;
  overflow: hidden;
}

.section1__header-text{
  display: block;
  color: #fff;
  padding: 31px 0 28px;
  &>h1 {
    text-transform: uppercase;
    margin-left: 6px;
    margin-bottom: 0;
    line-height: .8;
    font-family: Ubuntu, sans-serif;
    font-size: 36px;
    font-weight: bold;
  }
  &>h1>small {
    text-transform: none;
    font-size: 19px;
    font-weight: 300;
  }
}

.section1__left {
  display: inline-block;
  height: 349px;
  width: 639px;
  float: left;
  &>img {
    max-width: 100%;
    height: auto;
    width: auto\9;
  }
}

.section1__right {
  height: 349px;
  width: $container-width - 639; // -width of left section
  float: right;
}

.section1__right_rotate {
  width: 150px;
  transform: rotate(-4deg);
  margin-left: 52px;
  padding-top: 21px;
}

.rotate-text {
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
  font-family: Bradley, cursive;
  font-weight: normal;
  color: #fff;
  &:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 90%;
    background: url("../img/arrow.png") no-repeat;
    height: 25px;
    width: 40px;
  }
}

.section1__right_button {
  margin-left: 30px;
  margin-top: 22px;
  background: #cc99ff;
  height: 41px;
  width: 263px;
  text-align: right;
  border-radius: 6px;
  box-shadow: 0 2px 0 #6b4794;
  transition: background .2s;
  &:after {
    display: inline-block;
    content: '';
    width: 100%;
    font-size: 0;
    height: 0;
  }
  &:hover {
    background: #c392f6;
  }
  &:active {
    box-shadow: 0 2px 2px #6b4794 inset;
    padding-top: 1px;
  }
}

.button-link {
  padding-right: 15px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-family: Ubuntu, sans-serif;
  font-weight: normal;
  line-height: 41px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: -28px;
    width: 23px;
    height: 21px;
    background: url("../img/linkedin_copy.svg") no-repeat;
    top: 50%;
    margin-top: -14px;
  }
}

.section1__right_text {
  margin-left: 30px;
  margin-top: 24px;
}

.text-spam {
  color: #fff;
  line-height: 1.2;
  font-family: Proxima, sans-serif;
  font-weight: 300;
}

.subsection1 {
  height: 202px;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 1px #b1b4b7;
}

.subsection1-wrapper {
  height: inherit;
  width: $container-width;
  margin: 0 auto;
}

.subsection1__devices {
  width: 33.33333%;
  height: inherit;
  float: left;
}

.subsection1__devices-img {
  margin: 50px 45px 0;
}

.subsection1__devices-text {
  display: inline-block;
  padding: 10px 80px;
  text-align: center;
  color: #815ca6;
  font-family: Proxima, sans-serif;
  font-size: 16px;
  position: absolute;
}

.subsection1__locker {
  width: 33.33333%;
  height: inherit;
  display: inline-block;
}

.subsection1__locker-img {
  margin: 50px 120px 0;
}

.subsection1__locker-text {
  display: inline-block;
  padding: 8px 80px;
  text-align: center;
  color: #815ca6;
  font-family: Proxima, sans-serif;
  font-size: 16px;
  position: absolute;
}

.subsection1__list {
  width: 33.33333%;
  height: inherit;
  display: inline-block;
  float: right;
}

.subsection1__list-list{
  padding: 50px 0px;
}

.subsection1__list-item {
  padding-left: 50px;
  line-height: 2;
  font-family: Proxima, sans-serif;
  font-size: 16px;
  color: #815ca6;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 25px;
    width: 20px;
    height: 20px;
    background: url('../img/Check-box.png') no-repeat;
    top: 50%;
    margin-top: -10px;
    border-radius: 4px;
  }
}

