.section1 {
  width: $container-width;
  height: 464px;
  margin: 0 auto;
}

.section1__header {
  max-height: 115px;
  overflow: hidden;
}

.section1__header-text{
  display: block;
  color: #fff;
  padding: 31px 0 28px;
  &>h1 {
    text-transform: uppercase;
    margin-left: 6px;
    margin-bottom: 0;
    line-height: .8;
    font-family: Ubuntu, sans-serif;
    font-size: 36px;
    font-weight: bold;
  }
  &>h1>small {
    text-transform: none;
    font-size: 20px;
    font-weight: 300;
  }
}

.section1__left {
  display: inline-block;
  height: 349px;
  width: 639px;
  float: left;
  &>img {
    max-width: 100%;
    height: auto;
    width: auto\9;
  }
}

.section1__right {
  height: 349px;
  width: $container-width - 639; // -width of left section
  float: right;
}

.section1__right_rotate {
  width: 150px;
  transform: rotate(-4deg);
  margin-left: 52px;
  padding-top: 21px;
}

.rotate-text {
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
  font-family: "Bradley Hand ITC", cursive;
  font-weight: normal;
  color: #fff;
  &:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 90%;
    background: url("../img/arrow.png") no-repeat;
    height: 25px;
    width: 40px;
  }
}

.section1__right_button {
}

.button {
  margin-left: 30px;
  margin-top: 22px;
  background: #cc99ff;
  color: #fff;
  border: none;
  font-size: 20px;
  font-family: Ubuntu, sans-serif;
  font-weight: normal;
  border-radius: 6px;
  height: 41px;
  min-width: 263px;
box-bottom-shadow: ;
  &:before {
    content: '';
    top: 1px;
    left: 1px;
    background: url("../img/linkedin_copy.svg") no-repeat;
    height: 25px;
    width: 40px;
  }
}



